/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/


/* =============================================================================
   Site Styles
   ========================================================================== */

/* =============================================================================
   Page Styles
   ========================================================================== */
  *{
    margin:0px;
    padding: 0px;
  }
  html body{
    background-color: rgba(215,206,199,.6);

  }
  
  /*nav{
    padding: 2px ;
    */
  
  /*header nav ul li{
    display: inline-block;
    text-align: center;
  }*/
  header nav ul li a{
    padding: 5px 20px !important;
    text-decoration: none !important;
    color: #565656 !important;
    margin-left: 145px !important;
    margin-top: 5px !important;
    font-size: 16px !important;
  }
  header nav ul li a:hover{
  background-color: rgba(192,159,128,.5) !important; 
  color:white !important;
}

/*.container-fluid{
  border-bottom: 3px;
}
.agent{
  display: inline-block;
  margin-top: 15%;
  position: absolute;
  left: 76%;
  
 }*/
html main{
  margin-top: 10%;
  margin-bottom:15%;
}

html main p{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}
html main h2{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
}

html main h3{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
}

html main h4{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
}

figcaption{
  background: white;
  margin-top: -20px;
}

figcaption .captiontext{
  font-size: 25px;
  display: inline-block;
  margin-left: 33%;
}

figcaption .bedsandbaths{
  font-size: 18px;
}

.panel{
    display:none;
}
.panel.panel-active{
    display:inline-block;
}

.togglestyle{
  display: inline-block;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 10px 20px;
  margin-left: 80px;
}

  #map{
    height: 400px; 
    margin-top: -6%;

  }

.interiordesigns{
  margin-top: 5%;
  margin-left: -3%;
}

.indenting{
  text-indent: 50px;
}

.textsize{
  font-size: 16px;
}

.agent-img{
  position: relative;
}

.agent_info{
  display: inline-block;
  margin-top: 5%;
  background-color: rgba(192,159,128,.5);
  padding: 15px;
  left: 5%;
  font-family: 'Copperplate';
  font-size: 15px;
  position: absolute;
  z-index: 1;
 }

.logoPush{
  margin-left: 22%;
}
.containerbackground{
  background: rgba(255,255,255,.2);
}

.footercontainer{
  position: relative;
  margin-top: 100%;
}

.footer {
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;
}
.footertext{
  text-align: center;
  font-size: 11px;
}

.wrap {
  height: 343px;
  width: 253px;
  position: relative;
}

.testimonialDescription {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: black;
  background: rgba(255,255,255,.8);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 15px;
  
}

.wrap:hover .testimonialDescription {
  visibility: visible;
  opacity: 1;
}
.descriptiontextsize{
  font-size: 13px;
}

.container {
  position: relative;
  padding: 2%;
}
    
.mix{
  text-align: left;
  display: none;
  height: 250px;
}


.controls{
  background: black;
  color: white;
  padding: 5px 10px;
  position: relative;
}

.controls:hover{
  background: #c09f80;
  position: relative;
}

.sort{
  padding-left: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sort:hover{
  background: #c09f80;
  color: white;
}

.top{
  margin-top: -6%;
}

.for_sale{
  margin-bottom: 370px;

}

.email{
  background: black;
  padding:20px;
}

.email:hover{
  background: #c09f80;
}

address a h3{
  color: white;
}
/* =============================================================================
   Media Queries
   ========================================================================== */


/* Tablet Portrait size to Base 996px */

@media only screen and (min-width: 368px) and (max-width: 1095px) {
    .container {
        background-color: rgba(129,123,119,.5);

    }
}

/* Mobile Landscape Size to Tablet Portrait */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        background-color: rgba(0, 255, 0, 0.25);
    }

  html main{
    margin-top: 35%;
    margin-bottom:15%;
  }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    .container {
        background-color: pink;
    }

    .agent-img{
      width: 150px;
    }
    .agent_info{
      display: block;
      margin-top: -25%;
      margin-left: 40%;
      background-color: rgb(192,159,128);
      padding: 15px;
      left: 5%;
      font-family: 'Copperplate';
      font-size: 15px;
      z-index: 1;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size */

@media only screen and (max-width: 479px) {
    .container {
        background-color: rgba(0, 255, 255, 0.25);
    }
  html main{
    margin-top: 48%;
    margin-bottom:15%;
  }
  .agent-img{
      width: 120px;
      margin-top: 10px;
    }
  .agent_info{
      display: block;
      margin-top: -35%;
      margin-left: 43%;
      background-color: rgb(192,159,128);
      padding: 5px;
      left: 5%;
      font-family: 'Copperplate';
      font-size: 12px;
      z-index: 1;
    }
}


/* =============================================================================
   Font-Face
   ========================================================================== */


/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
